@import url(https://fonts.googleapis.com/css?family=Arvo);
/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;

  background-color: #000000;
opacity: 1;
background-image:  radial-gradient(#ff00ff 0.5px, transparent 0.5px), radial-gradient(#ff00ff 0.5px, #000000 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
font-family: 'Arvo';

}

a {
  color: #bf00ff;
  text-decoration: none;
}

button {
  background-color: #bf00ff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #8f00b3;
}

input[type="text"],
input[type="password"] {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 1rem;
  font-size: 1rem;
  background-color: #262626;
  color: white;
}

input[type="submit"] {
  background-color: #bf00ff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #8f00b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 1rem;
}

/* Login page styles */
form {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

label {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  background-color: #262626;
  color: white;
}

button[type="submit"] {
  margin-top: 2rem;
}

/* User list page styles */
h2 {
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
}

/* Logout button styles */
button[type="button"] {
  margin-top: 2rem;
}
button {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
}


h1 {
  padding-top: 35px;
  padding-bottom: 0px;
  color: white;
  text-align: center;
}

.labelll{
  float: left;
}

h2 {
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
}

